
  <img src="https://s3.amazonaws.com/after-school-assets/cat-typing.gif" style="width: 50%" class="center-block">
    <form action="cine" method="POST">
      <div class="form-group">
        <label for="movie">Input Movie text</label>
        <input type="text" class="form-control" id="movie" name="name" placeholder="Enter Full information of the movie">
        <small>
          The format <i>must</i> be: 'name'.'rate'.'time in minutes' <br/>
          examples:
          
          <ul>
            <li>There’s Something About Mary (1998). Rated R. 134 minutes</li>
            <li>The Imitation Game (2014). Rated PG-13. 114 minutes</li>
            <li>The Hateful Eight (2015). Rated R. 187 minutes</li>
            <li>Liar Liar (1997). Rated PG-13. 86 minutes</li>
          </ul>
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>